{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

    {% block head_title %}Payment{% endblock %}
    {% block extra_head %}
          <script src="https://js.stripe.com/v3/"></script>
          <link href="{% static 'core/css/payment.css' %}" rel="stylesheet">
    {% endblock %}

{% block content %}
      <main class="mt-5 pt-4">
        <div class="container wow fadeIn">

          <!-- Heading -->
          <h2 class="my-5 h2 text-center">Payment</h2>


          <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">
              <!-- Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Data</span>
              </h4>

              <!--Card-->
              <div class="card">
                    <p class="mb-3 text-muted"><b>Email:</b> {{ user.email }}</p>
                    <p class="mb-3 text-muted"><b>Country:</b> {{ order.billing_address.country }}</p>
                    <p class="mb-3 text-muted"><b>Zip:</b> {{ order.billing_address.zip }}</p>
                    <p class="mb-3 text-muted"><b>Street:</b> {{ order.billing_address.street_address }}</p>
              </div>
              <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

              <!-- Heading -->
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
              </h4>

              <!-- Cart -->
              <ul class="list-group mb-3 z-depth-1">
              {% for item in items %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">{{ item.item.title }}</h6>
                    <small class="text-muted">{{ item.item.description }}</small>
                  </div>
                    <span>
                        <small class="text-muted">Quantity: {{ item.quantity }}</small>
                    </span>
                  <span class="text-muted">${{ item.item.price }}</span>
                </li>
              {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (USD)</span>
                  <strong>${{ order.total_price }}</strong>
                </li>
              </ul>
              <!-- Cart -->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->


          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12 mb-4">
              <!--Card-->
              <div class="card">

                <form action="/charge" id="payment-form" method="post">
                    {% csrf_token %}

                      <div id="card-element">
                        <!-- Elements will create input elements here -->
                      </div>

                      <div id="card-errors" role="alert">
                        <!-- We'll put the error messages in this element -->
                      </div>

                    <br>
                  <button id="submit">Submit Payment</button>
                </form>

                    <script>
                        // Set your publishable key: remember to change this to your live publishable key in production
                        // See your keys here: https://dashboard.stripe.com/account/apikeys
                        var stripe = Stripe('pk_test_RGDjjEU7mEuWuDIu3UW5OFKD00YDyYH8o6');
                        var elements = stripe.elements();
                        // Set up Stripe.js and Elements to use in checkout form
                        var style = {
                          base: {
                            color: "#32325d",
                          }
                        };

                        var card = elements.create("card", { style: style });
                        card.mount("#card-element");


                        card.addEventListener('change', function(event) {
                          var displayError = document.getElementById('card-errors');
                          if (event.error) {
                            displayError.textContent = event.error.message;
                          } else {
                            displayError.textContent = '';
                          }
                        });
                  </script>

              </div>
              <!--/.Card-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
      </main>
{% endblock content %}
